autopep8==1.5.7
certifi==2021.10.8
charset-normalizer==2.0.7
decorator==4.4.2
flake8==4.0.1
idna==3.3
imageio==2.9.0
imageio-ffmpeg==0.4.5
mccabe==0.6.1
moviepy==1.0.3
mypy==0.910
mypy-extensions==0.4.3
numpy==1.21.3
opencv-python==4.5.3.56
Pillow==8.4.0
proglog==0.1.9
pycodestyle==2.8.0
pyflakes==2.4.0
python-slugify==5.0.2
pytube==11.0.1
requests==2.26.0
text-unidecode==1.3
tinydb==4.5.2
toml==0.10.2
tqdm==4.62.3
typing-extensions==3.10.0.2
urllib3==1.26.7
